@charset "UTF-8";

/* Versao mobile first */

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1em;
}

body, html {
    height: 100vh;
}

body {
    background:black url(../imagens/back-phone.jpg) ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

main {
    background-color: rgba(255, 255, 255, 0.801);
    width: 400px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}
 h1 {
    text-align: center;
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.808);
 }
img{
    margin: auto;
}
img#phone {display: block;}
img#tablet {display: none;}
img#print {display: none;}
img#pc {display: none;}
img#tv {display: none;}